USE [master]
GO
/****** Object:  Database [EduConnectDB2]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE DATABASE [EduConnectDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduConnectDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EduConnectDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduConnectDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EduConnectDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduConnectDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduConnectDB2]
GO
/****** Object:  Table [dbo].[Academies]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academies](
	[academy_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[image_url] [varchar](255) NULL,
	[registration_link] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[academy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[academy_id] [int] NOT NULL,
	[course_name] [varchar](100) NOT NULL,
	[course_image] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[price] [decimal](10, 2) NULL,
	[duration] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[app_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NULL,
	[lastname] [varchar](50) NULL,
	[birthdate] [date] NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[cv_path] [varchar](255) NULL,
	[photo_path] [varchar](255) NULL,
	[experience_years] [int] NULL,
	[academy_id] [int] NULL,
	[domain] [varchar](100) NULL,
	[skills] [varchar](255) NULL,
	[apply_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[academy_id] [int] NOT NULL,
	[domain] [varchar](100) NULL,
	[min_experience] [int] NULL,
	[min_age] [int] NULL,
	[required_skills] [varchar](255) NULL,
	[salary] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notif_id] [int] IDENTITY(1,1) NOT NULL,
	[app_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[message] [varchar](255) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [char](32) NOT NULL,
	[role] [varchar](20) NULL,
	[academy_id] [int] NULL,
	[failed_attempts] [int] NULL,
	[is_disabled] [bit] NULL,
	[last_failed_time] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Academies] ON 

INSERT [dbo].[Academies] ([academy_id], [name], [image_url], [registration_link]) VALUES (1, N'CCE Academy: TechBridge', N'CCEA.png', N'https://docs.google.com/forms/d/e/1FAIpQLSejWjcjxDHyuC3oM7a62elQaRK8R1T-07rZdYcPs9QpYq2evw/viewform')
INSERT [dbo].[Academies] ([academy_id], [name], [image_url], [registration_link]) VALUES (2, N'Interior Design Academy:LuxLine', N'IDA.png', N'https://design-registration.com')
INSERT [dbo].[Academies] ([academy_id], [name], [image_url], [registration_link]) VALUES (3, N'Languages Academy', N'LA.png', N'https://lang-registration.com')
SET IDENTITY_INSERT [dbo].[Academies] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([course_id], [academy_id], [course_name], [course_image], [description], [start_date], [end_date], [price], [duration]) VALUES (1, 1, N'Networking Fundamentals', N'network.png', N'Understand networking concepts, protocols, and configurations. Online with lab simulations. Certificate upon completion.', CAST(N'2025-09-08' AS Date), CAST(N'2025-11-30' AS Date), CAST(360.00 AS Decimal(10, 2)), N'3 months')
INSERT [dbo].[Courses] ([course_id], [academy_id], [course_name], [course_image], [description], [start_date], [end_date], [price], [duration]) VALUES (2, 1, N'AI Fundamentals', N'AI.png', N'Introduction to AI concepts, algorithms, and applications. Online with coding exercises. Certificate upon completion.', CAST(N'2025-09-20' AS Date), CAST(N'2025-12-05' AS Date), CAST(200.00 AS Decimal(10, 2)), N'2.5 months')
INSERT [dbo].[Courses] ([course_id], [academy_id], [course_name], [course_image], [description], [start_date], [end_date], [price], [duration]) VALUES (3, 1, N'Cybersecurity Essentials', N'cyber.png', N'Protect systems against threats with cybersecurity tools and practices. 100% Online. Certificate upon completion.', CAST(N'2025-10-01' AS Date), CAST(N'2025-12-20' AS Date), CAST(400.00 AS Decimal(10, 2)), N'2.5 months')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([app_id], [firstname], [lastname], [birthdate], [phone], [email], [cv_path], [photo_path], [experience_years], [academy_id], [domain], [skills], [apply_date]) VALUES (1, N'John', N'Smith', CAST(N'1990-05-12' AS Date), N'+96170123456', N'john.smith@example.com', N'John_Smith.pdf', N'src/images/John_Smith.png', 5, 1, N'CCE', N'Networking, Cybersecurity, AI', CAST(N'2025-08-12T17:39:58.313' AS DateTime))
INSERT [dbo].[JobApplications] ([app_id], [firstname], [lastname], [birthdate], [phone], [email], [cv_path], [photo_path], [experience_years], [academy_id], [domain], [skills], [apply_date]) VALUES (2, N'Sara', N'Khalil', CAST(N'1993-09-23' AS Date), N'+96171111222', N'sara.khalil@example.com', N'Sara_Khalil.pdf', N'src/images/Sara_Khalil.png', 3, 1, N'CCE', N'Software Development, Java, Databases', CAST(N'2025-08-12T17:39:58.313' AS DateTime))
INSERT [dbo].[JobApplications] ([app_id], [firstname], [lastname], [birthdate], [phone], [email], [cv_path], [photo_path], [experience_years], [academy_id], [domain], [skills], [apply_date]) VALUES (3, N'Omar', N'Farhat', CAST(N'1988-02-10' AS Date), N'+96170111333', N'omar.farhat@example.com', N'Omar_Farhat.pdf', N'src/images/Omar_Farhat.png', 7, 1, N'CCE', N'Cloud Computing, DevOps, AI', CAST(N'2025-08-12T17:39:58.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([job_id], [academy_id], [domain], [min_experience], [min_age], [required_skills], [salary], [created_at]) VALUES (2, 1, N'CCE', 2, 22, N'Networking, CCNA, TCP/IP', CAST(1200.00 AS Decimal(10, 2)), CAST(N'2025-08-12T17:36:33.410' AS DateTime))
INSERT [dbo].[Jobs] ([job_id], [academy_id], [domain], [min_experience], [min_age], [required_skills], [salary], [created_at]) VALUES (5, 2, N'Interior Design', 2, 23, N'AutoCAD, 3D Max, Creativity', CAST(1100.00 AS Decimal(10, 2)), CAST(N'2025-08-12T17:36:33.410' AS DateTime))
INSERT [dbo].[Jobs] ([job_id], [academy_id], [domain], [min_experience], [min_age], [required_skills], [salary], [created_at]) VALUES (6, 2, N'Furniture Design', 1, 22, N'Furniture CAD, Creativity', CAST(1050.00 AS Decimal(10, 2)), CAST(N'2025-08-12T17:36:33.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notif_id], [app_id], [job_id], [message], [is_read], [created_at]) VALUES (1, 5, 5, N'New applicant matches your job: Emmanuel Zeidan', 0, CAST(N'2025-08-12T18:54:23.140' AS DateTime))
INSERT [dbo].[Notifications] ([notif_id], [app_id], [job_id], [message], [is_read], [created_at]) VALUES (2, 6, 5, N'New applicant matches your job: Dana El Hajjar', 0, CAST(N'2025-08-12T18:54:23.140' AS DateTime))
INSERT [dbo].[Notifications] ([notif_id], [app_id], [job_id], [message], [is_read], [created_at]) VALUES (3, 7, 5, N'New applicant matches your job: Najla El Zein', 0, CAST(N'2025-08-12T18:54:23.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password_hash], [role], [academy_id], [failed_attempts], [is_disabled], [last_failed_time], [created_at]) VALUES (2, N'newadmin', N'482C811DA5D5B4BC6D497FFA98491E38', N'admin', NULL, 0, 0, NULL, CAST(N'2025-08-12T17:27:38.083' AS DateTime))
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [role], [academy_id], [failed_attempts], [is_disabled], [last_failed_time], [created_at]) VALUES (3, N'techbridge', N'A5581A9939ACB509CBDEBC7E5748B3F9', N'academy', 1, 0, 0, NULL, CAST(N'2025-08-12T17:27:38.090' AS DateTime))
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [role], [academy_id], [failed_attempts], [is_disabled], [last_failed_time], [created_at]) VALUES (4, N'luxline', N'0A936FBE1694F20E28CA5E6021180ED5', N'academy', 2, 0, 0, NULL, CAST(N'2025-08-12T17:27:38.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Academie__72E12F1B41F77DDE]    Script Date: 5/19/2026 10:44:38 PM ******/
ALTER TABLE [dbo].[Academies] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_Academy]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_Academy] ON [dbo].[Courses]
(
	[academy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Apps_Academy_Domain]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Apps_Academy_Domain] ON [dbo].[JobApplications]
(
	[academy_id] ASC,
	[domain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Apps_Exp_Birth]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Apps_Exp_Birth] ON [dbo].[JobApplications]
(
	[experience_years] ASC,
	[birthdate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Jobs_Academy_Domain]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_Academy_Domain] ON [dbo].[Jobs]
(
	[academy_id] ASC,
	[domain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_Eligibility]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_Eligibility] ON [dbo].[Jobs]
(
	[min_age] ASC,
	[min_experience] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_AppId]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_AppId] ON [dbo].[Notifications]
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead_Created]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead_Created] ON [dbo].[Notifications]
(
	[is_read] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_JobId]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_JobId] ON [dbo].[Notifications]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Notifications_Job_App]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Notifications_Job_App] ON [dbo].[Notifications]
(
	[job_id] ASC,
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572E21D1159]    Script Date: 5/19/2026 10:44:38 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Academy]    Script Date: 5/19/2026 10:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Academy] ON [dbo].[Users]
(
	[academy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [apply_date]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('admin') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [failed_attempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_disabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Academies] FOREIGN KEY([academy_id])
REFERENCES [dbo].[Academies] ([academy_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Academies]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK_Apps_Academies] FOREIGN KEY([academy_id])
REFERENCES [dbo].[Academies] ([academy_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_Apps_Academies]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Academies] FOREIGN KEY([academy_id])
REFERENCES [dbo].[Academies] ([academy_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Academies]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Apps] FOREIGN KEY([app_id])
REFERENCES [dbo].[JobApplications] ([app_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Apps]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[Jobs] ([job_id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notif_Jobs]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Academy] FOREIGN KEY([academy_id])
REFERENCES [dbo].[Academies] ([academy_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Academy]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_Price] CHECK  (([price] IS NULL OR [price]>=(0)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_Price]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [CK_Apps_Birth] CHECK  (([birthdate] IS NULL OR [birthdate]<=getdate()))
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [CK_Apps_Birth]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [CK_Apps_Exp] CHECK  (([experience_years] IS NULL OR [experience_years]>=(0)))
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [CK_Apps_Exp]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [CK_Jobs_MinAge] CHECK  (([min_age] IS NULL OR [min_age]>=(0)))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [CK_Jobs_MinAge]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [CK_Jobs_MinExp] CHECK  (([min_experience] IS NULL OR [min_experience]>=(0)))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [CK_Jobs_MinExp]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [CK_Jobs_Salary] CHECK  (([salary] IS NULL OR [salary]>=(0)))
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [CK_Jobs_Salary]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_FailedAttempts] CHECK  (([failed_attempts]>=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_FailedAttempts]
GO
/****** Object:  StoredProcedure [dbo].[sp_RebuildNotificationsForJob]    Script Date: 5/19/2026 10:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RebuildNotificationsForJob]
    @job_id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ملاحظة: إذا بدّك تنظيف الإشعارات القديمة وإعادة بنائها من الصفر، فكّ التعليق:
    -- DELETE FROM Notifications WHERE job_id = @job_id;

    INSERT INTO Notifications (app_id, job_id, message)
    SELECT A.app_id, J.job_id,
           CONCAT('New matching applicant: ', A.firstname, ' ', A.lastname, ' for ', J.domain)
    FROM Jobs J
    JOIN JobApplications A ON J.academy_id = A.academy_id
         AND (A.domain IS NULL OR J.domain IS NULL OR LTRIM(RTRIM(LOWER(A.domain))) = LTRIM(RTRIM(LOWER(J.domain))))
         AND (J.min_experience IS NULL OR A.experience_years IS NULL OR A.experience_years >= J.min_experience)
         AND (J.min_age IS NULL OR A.birthdate IS NULL OR DATEDIFF(YEAR, A.birthdate, GETDATE()) >= J.min_age)
    WHERE J.job_id = @job_id
      AND NOT EXISTS (
            SELECT 1 FROM Notifications N
            WHERE N.job_id = J.job_id AND N.app_id = A.app_id
      );
END
GO
USE [master]
GO
